<!DOCTYPE html>
<html lang='en'>
  <head>
   <link rel='stylesheet' href= '/styles.css'>
  </head>

  <header>
   <h1>Wanna play a game?</h1>
  </header>

  <body>
    <h3>Let's play some rock, paper, scissors!</h3>
    <p>The rules are simple ladies and gentlemen:</p>
    <ol>
      <li>Paper beats rock</li>
      <li>Rock beats scissors</li>
      <li>Scissors beats paper</li>
    </ol>
    <img src="/saw.png" alt="">
  </body>
</html
